@import url(https://fonts.googleapis.com/css?family=Roboto:400,500,700,300,100);

*, *:before, *:after {
  box-sizing: border-box;
}

html {
  overflow-y: scroll;
}

body {
  background: #c1bdba;
  font-family: 'Titillium Web', sans-serif;
}

a {
  text-decoration: none;
  color: #1ab188;
  -webkit-transition: .5s ease;
  transition: .5s ease;
}
a:hover {
  color: #179b77;
}

ntext {
 font-weight: bold;
 color: #1ab188;
 font-size: 18px; 
}

.form {
  background: rgba(19, 35, 47, 0.9);
  padding: 40px;
  max-width: 1500px;
  margin: 40px auto;
  border-radius: 4px;
  box-shadow: 0 4px 10px 4px rgba(19, 35, 47, 0.3);
}

.tab-group {
  list-style: none;
  padding: 0;
  margin: 0 0 40px 0;
}
.tab-group:after {
  content: "";
  display: table;
  clear: both;
}
.tab-group li a {
  display: block;
  text-decoration: none;
  padding: 15px;
  background: rgba(160, 179, 176, 0.25);
  color: #a0b3b0;
  font-size: 20px;
  float: left;
  width: 25%;
  text-align: center;
  cursor: pointer;
  -webkit-transition: .5s ease;
  transition: .5s ease;
}
.tab-group li a:hover {
  background: #179b77;
  color: #ffffff;
}
.tab-group .active a {
  background: #1ab188;
  color: #ffffff;
}

.tab-content > div:last-child {
  display: none;
}

h1 {
  text-align: center;
  color: #ffffff;
  font-weight: 300;
  margin: 0 0 20px;
}

h4 {
  color: #ffffff;
  font-weight: 150;
  margin: 0 0 40px;
}


h2 {
  color: #ffffff;
  font-weight: 150;
  margin: 0 0 0px;
}

h3 {
  text-align: center;
  color: #ffffff;
  font-weight: 150;
  margin: 0 0 20px;
}
/*
select {
 font-size: 22px;
 height: 30px;
 padding: 5px;
 width: 250px;
 color: rgba(255, 255, 255, 0.5);
 -webkit-transition: all 0.25s ease;
 transition: all 0.25s ease;
 -webkit-backface-visibility: hidden;
}*/

select {
    position: relative;
    display: inline-block;
}

select-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 1;
}

select:hover .dropdown-content {
    display: block;
}

label {
  position: absolute;
  -webkit-transform: translateY(6px);
          transform: translateY(6px);
  left: 13px;
  color: rgba(255, 255, 255, 0.5);
  -webkit-transition: all 0.25s ease;
  transition: all 0.25s ease;
  -webkit-backface-visibility: hidden;
  pointer-events: none;
  font-size: 22px;
}
label .req {
  margin: 2px;
  color: #1ab188;
}

label.active {
  -webkit-transform: translateY(50px);
          transform: translateY(50px);
  left: 2px;
  font-size: 14px;
}

label.active .req {
  opacity: 0;
}

label.highlight {
  color: #ffffff;
}

input, textarea {
  font-size: 22px;
  display: block;
  width: 100%;
  height: 100%;
  padding: 5px 10px;
  background: none;
  background-image: none;
  border: 1px solid #a0b3b0;
  color: #ffffff;
  border-radius: 0;
  -webkit-transition: border-color .25s ease, box-shadow .25s ease;
  transition: border-color .25s ease, box-shadow .25s ease;
}
input:focus, textarea:focus {
  outline: 0;
  border-color: #1ab188;
}

textarea {
  border: 2px solid #a0b3b0;
  resize: vertical;
}

.field-wrap {
  position: relative;
  margin-bottom: 40px;
}


.top-row:after {
  content: "";
  display: table;
  clear: both;
}

.top-row > div {
  float: left;
  width: 48%;
  margin-right: 4%;
}
.top-row > div:last-child {
  margin: 0;
}

.button {
  border: 0;
  outline: none;
  border-radius: 0;
  padding: 15px 0;
  font-size: 2rem;
  font-weight: 600;
  letter-spacing: .1em;
  background: #1ab188;
  color: #ffffff;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  -webkit-appearance: none;
}
.button:hover, .button:focus {
  background: #179b77;
}

.button-block {
  display: block;
  width: 100%;
}

.button-Pequeno {
  border: 0;
  outline: none;
  border-radius: 0;
  padding: 15px 0;
  font-size: 1rem;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: .1em;
  background: #1ab188;
  color: #ffffff;
  display: block;
  width: 50%;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  -webkit-appearance: none;
}

.button-Busqueda {
  border: 0;
  outline: none;
  border-radius: 0;
  padding: 9px 10px;
  font-size: 1rem;
  font-weight: 600;
  letter-spacing: .1em;
  background: #1ab188;
  color: #ffffff;
  display: block;
  width: 30%;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  -webkit-appearance: none;
}

.forgot {
  margin-top: -20px;
  text-align: right;
}

.tablaCensys {
 border-collapse: separate;
 border-spacing: 0px 0px;
 /*border: red 2px solid;*/
 height: auto;
 width: 85%;
 font-size: 18 px; /* Tamaño de letra para toda la tabla */
 font-family: 'Titillium Web';
}

.tablaAbajo {
 border-collapse: separate;
 /*border: orange 1px solid;*/
 border-spacing: 0px 0px;
 height: auto;
 margin: 0px 0px 20px; /*Se paración entre tablas izq arriba abajo*/
 font-size: 18 px; /* Tamaño de letra para toda la tabla */
 font-family: 'Titillium Web';
}

.tablaFuera {
 border-collapse: separate;
 border: white 1px solid;
 height: auto;
 width: 100%;
 margin: 0px 0px 20px; /*Se paración entre tablas izq arriba abajo*/
}

.tablaResultadoCensys {
 border-collapse: separate;
 /*border: white 1px solid;*/
 /*background: #5499c7;*/
 height: auto;
 width: 100%;
 color: #ffffff;
 font-size: 18px; /* Tamaño de letra para toda la tabla */
 font-family: 'Titillium Web';
 margin: 0px 0px 20px; /*Se paración entre tablas izq arriba abajo*/
}

.tablaResultadoCensys .center {
 border-collapse: separate;
 /*border: orange 1px solid;*/
 /*background: #5499c7;*/
 height: auto;
 width: 100%;
 color:#ffffff;
 font-size: 18px; /* Tamaño de letra para toda la tabla */
 font-family: 'Titillium Web';
 margin: 0px 0px 0px; /*Se paración entre tablas izq arriba abajo*/
}


/* Columna izquierda */
.tablaResultadoCensys .tde-izq { 
 border-collapse: separate;
 /*border: white 2px solid;*/
 color:#ffffff;
 width: 600px;
 text-align: left;
 vertical-align: center;
}

/* Columna derecha */
.tablaResultadoCensys .tde-derch{
 border-collapse: separate;
 /*border: blue 5px solid;*/
 color:#ffffff;
 width: 200px;
 text-align: left; 
 vertical-align: center;
}

.tablaExploit {
 border-collapse: separate;
 border-spacing: 0px 0px;
 /*border: red 2px solid;*/
 height: auto;
 width: 100%;
 font-size: 22px; /* Tamaño de letra para toda la tabla */
 font-family: 'Titillium Web';
}

/* Columna izquierda */
.tablaExploit .tde-izq { 
 /*border: yellow 2px solid;*/
 color:#ffffff;
 width: 80%;
 text-align: left; 
 vertical-align: top;
}

/* Columna derecha */
.tablaExploit .tde-derch{
 /*border: red 5px solid;*/
 width: 15%;
 text-align: left; 
 vertical-align: top;
}

/* Columna central */
.tablaExploit th{
 /*border: black 5px solid;*/
 width: 15%;
 text-align: left; 
 vertical-align: top;
 }
 
.tablaCategorias {
 border-collapse: separate;
 /*border: white 1px solid;*/
 height: auto;
 width: 100%;
 font-size: 18px; /* Tamaño de letra para toda la tabla */
 font-family: 'Titillium Web';
 margin: 0px 0px 20px; /*Separación entre tablas izq arriba abajo*/
}

/* Columna central */
.tablaCategorias th { 
 /*border: black 1px solid;*/
 background-color: #000000;
 color:#ffffff;
 width: 100%;
 text-align: center; 
 vertical-align: top;
}

/* Columna izquierda */
.tablaCategorias .td-izq { 
 /*border: orange 1px insert;*/
 background-color: #1ab188;
 width: 70%;
 text-align: left; 
 vertical-align: top;
 color:#ffffff;
}

/* Columna derecha */
.tablaCategorias .td-derch {
 /*border: red 1px solid;*/
 background-color: #1ab188;
 width: 30%;
 text-align: center; 
 vertical-align: center;
 color:#ffffff;
 }
 
 .tablaResultado {
 border-collapse: separate;
 border: white 1px solid;
 /*background: #5499c7;*/
 height: auto;
 width: 100%;
 font-size: 18px; /* Tamaño de letra para toda la tabla */
 font-family: 'Titillium Web';
 margin: 0px 0px 20px; /*Se paración entre tablas izq arriba abajo*/
}

.tablaResultadoInterior {
 border-collapse: separate;
 border-spacing: 0px 0px;
 /*border: white 1px solid;*/
 /*background: #5499c7;*/
 /*height: auto;*/
 text-align: left; 
 /*width: 50%;*/
 font-size: 18px; /* Tamaño de letra para toda la tabla */
 font-family: 'Titillium Web';
 margin: 0px 10px 0px; /*Se paración entre tablas izq arriba abajo*/
}

.tablaResultadoInterior td {
 border-collapse: separate;
 width: 200px;
 text-align: left; 
 /*border: red 1px solid;*/
}

.tablaResultadoInterior .td-plataforma {


 border-collapse: separate;
 width: 600px;
 text-align: left; 
 /*border: red 1px solid;*/
}

.tablaResultadoInterior .td-fecha {
 border-collapse: separate;
 width: 187px;
 text-align: left; 
 /*border: red 1px solid;*/
}



/*///////////////////////////////////////////////////////////////////////*/

/*Tabla statistics*/

table.dataframe.tablaResultadoCensys {
  border:hidden;
}

.dataframe.tablaResultadoCensys th {
  color:#D5DDE5;;
  background:#1b1e24;
  border:none;
  border-bottom:4px none;
  border-right: 1px none;
  border-left:none;
  border-top:none;
  font-size:23px;
  font-weight: 100;
  padding:24px;
  text-align:center;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  vertical-align:middle;
  text-visibility:hidden;
}


.dataframe.tablaResultadoCensys tr {
  border-top: 1px solid #C1C3D1;
  border-bottom-: 1px solid #C1C3D1;
  color:#666B85;
  font-size:16px;
  font-weight:normal;
  text-shadow: 0 1px 1px rgba(256, 256, 256, 0.1);
}
 
.dataframe.tablaResultadoCensys tr:hover td {
  background:#4E5066;
  color:#FFFFFF;
  border-top: 1px solid #22262e;
}
 
.dataframe.tablaResultadoCensys tr:first-child {
  border-top:none;
}

.dataframe.tablaResultadoCensys tr:last-child {
  border-bottom:none;
}
 
.dataframe.tablaResultadoCensys tr:nth-child(odd) td {
  background:#EBEBEB;
}
 
.dataframe.tablaResultadoCensys tr:nth-child(odd):hover td {
  background:#4E5066;
}
 
.dataframe.tablaResultadoCensys tr:last-child td:last-child {
  border-bottom-right-radius:3px;
}
 
.dataframe.tablaResultadoCensys td {
  background:#FFFFFF;
  padding:20px;
  text-align:center;
  vertical-align:middle;
  font-weight:300;
  font-size:18px;
  text-shadow: -1px -1px 1px rgba(0, 0, 0, 0.1);
  border-right: 1px solid #C1C3D1;
}



