{% load static %}
<!DOCTYPE HTML>
<html lang="es">
<head>
	<meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
</head>
	<body style="background-color:#85c1e9 ;">



	{% block header %}
	<h4>Este es el bloque del header base</h4>
	{% endblock %}
	
    {% block content %}
    <h5>Este es el contenido del contet base</h5>
    {% endblock %}
    
    {% block footer %}
    <h5>Footer base</h5>
    {% endblock %}
</body>
</html>
