{% load static %}
<!DOCTYPE html>
<html lang='es'>
<head>
  <meta charset='utf-8'>
  <title>Recetario para MDW - {% block titulo %}{% endblock %}</title>
  <link rel='stylesheet' href='{% static "css/base.css" %}'>
  <link rel='shortcut icon' href='{% static "img/icono.png" %}'>
  {% block style_css %}{% endblock %}
  <script src='{% static "js/jquery-3.1.1.min.js" %}'></script>
  <script src='{% static "js/demo.js" %}'></script>
</head>
<body>
  <header>
	{% block encabezado %}{% endblock %}
	<hr>
  </header>
  <section class='contenido'>
	{% block contenido %}{% endblock %}
  </section>
  <footer>
	<p>Proyecto de ejemplo para el curso Django de Maestros del Web &copy;2012</p>
  </footer>
</body>
</html>
