{% load staticfiles %}
<!DOCTYPE html>
<html >
<head>
  <meta charset="UTF-8">
  <title>Welcome to V.E.S!</title>
  
  <link href='http://fonts.googleapis.com/css?family=Titillium+Web:400,300,600' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">

  
      <link rel="stylesheet" href="{% static 'css/style.css' %}">

  
</head>

<body>
	<br/>
	<br/>
	<br/>
	<br/>
  <center><img src="{% static 'img/logo.png' %}"/></center>
  <div class="form">
      <ul class="tab-group">
        <li class="tab active"><a href="#signup">Sign in </a></li>
        <li class="tab"><a href="#login">Log In </a></li>
      </ul>
      
      <div class="tab-content">
        <div id="signup">   
		  {% block Estado %}
          <h1>Registration form</h1>
          {% endblock %}
          <form action="/registrar/" method="POST">
          
          <div class="top-row">
            <div class="field-wrap">
              <label>
                Name <span class="req">*</span>
              </label>
              <input type="text" required autocomplete="off" name = "first_name"/>
            </div>
        
            <div class="field-wrap">
              <label>
                Surname <span class="req">*</span>
              </label>
              <input type="text"required autocomplete="off" name = "last_name"/>
            </div>
          </div>
          
		  <div class="field-wrap">
            <label>
              User <span class="req">*</span>
            </label>
            <input type="text"required autocomplete="off"name = "username"/>
          </div>
          

          <div class="field-wrap">
            <label>
              E-mail <span class="req">*</span>
            </label>
            <input type="email"required autocomplete="off" name = "email"/>
          </div>
          
          <div class="field-wrap">
            <label>
              Password <span class="req">*</span>
            </label>
            <input type="password"required autocomplete="off" name = "password"/>
          </div>
          
          <button type="submit" class="button button-block"/>Register</button>
          
          </form>
          
        </div>
        
        <div id="login">   
          <h1>Welcome back!</h1>
          
          <form action="/login/" method="POST">
          
            <div class="field-wrap">
            <label>
              User <span class="req">*</span>
            </label>
            <input type="text" required autocomplete="off" name = "username"/>
			</div>
          
			<div class="field-wrap">
				<label>
				Pass <span class="req">*</span>
				</label>
				<input type="password" required autocomplete="off" name = "password"/>
			</div>
          
			<p class="forgot"><a href="#">Forgot your password?</a></p>
          
			<button type="submit" class="button button-block"/>Log-in</button>
          
          </form>

        </div>
        
      </div><!-- tab-content -->
      
</div> <!-- /form -->
  <script src='http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>

    <script src="{% static 'js/index.js' %}"></script>

</body>
</html>
