{% load staticfiles %}
{% load staticfiles %}
<!DOCTYPE html>
 <html lang="es">
<html >
<head>
  <meta charset="UTF-8">
  <title>Oops, something happened.</title>
  
  <link href='http://fonts.googleapis.com/css?family=Titillium+Web:400,300,600' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">

  
      <link rel="stylesheet" href="{% static 'css/style.css' %}">

  
</head>

<body>
	<br/>
	<br/>
	<br/>
	<br/>
  <center><img src="{% static 'img/logo.png' %}"/></center>
  <div class="form">

			{% block Estado %}
			<h1 <p style ="color:{{ color }};">{{ msg }}.</p></h1>
			<center><a href="../">[ Back ]</a></center>
			{% endblock %}
      
</div> <!-- /form -->
</body>
</html>
