{% load staticfiles %}
<!DOCTYPE html>
<html >
<head>
  <meta charset="UTF-8">
  <title>.: V.E.S. :.</title>
  
  <link href='http://fonts.googleapis.com/css?family=Titillium+Web:400,300,600' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">

  
      <link rel="stylesheet" href="{% static 'css/style2.css' %}">

  
</head>

<body>
	<br/>
	<br/>
	<br/>
	<br/>
  <center><img src="{% static 'img/logo.png' %}"/></center>  


	<div class="form">
      <ul class="tab-group">
        

	{% if tabCensys %}
		<li class="tab"><a href="#exploits">Exploits </a></li>
		<li class="tab active"><a href="#censys">Devices </a></li>
	{% else %}
		<li class="tab active"><a href="#exploits">Exploits </a></li>
		<li class="tab"><a href="#censys">Devices </a></li>
	{% endif %}

        <li class="tab"><a href="#estadisticas">Statistics </a></li>
        <li class="tab"><a href="#perfil">Profile</a></li>
      </ul>
      
		<div class="tab-content">
			
			
			<div id="exploits">
				<h1>Exploit Search</h1>
				<div align=center>
					{% block numexploit %}{% endblock %}
				</div>
				<form action="/shodanapi/" method="GET"> 
					<div class="top-row"> 
					  <div class="field-wrap">
						  <label>Application name <span class="req">*</span> </label> 
						  <input type="text" required autocomplete="off" name = "buscarShodan"/> 
					  </div>
					  <div class="field-wrap">
						  <input type="hidden" name="page" value="1">
						  <button type="submit" class="button button-Busqueda"/> Search exploits </button> 
					  </div>
				  </div>      
				</form>
					{% block tabla1 %}
					
					{% endblock %}
			</div>
			
			
			<div id="censys">
				<h1>Device Search</h1>
				<div align=center>
					{% block numcensys %}{% endblock %}
				</div>

				<form action="/censysapi/" method="GET"> 
					<div class="top-row"> 
						<div class="field-wrap">
						  <label>Application/Protocol:Version<span class="req">*</span> </label> 
						  <input type="text" required autocomplete="off" name = "buscarCensys"/> 
						</div>
						<div class="top-row"> 
							<div class="field-wrap">
								<div class="field-wrap">
								<select id="protocolo" name="protocolo2">
									<option value="21.ftp.banner." selected>21 FTP</option>
									<option value="22.ssh.banner.">22 SSH</option>
									<option value="25.smtp.starttls.">25 SMTP</option>
									<option value="25.smtp.starttls.tls.">25 SMTP TLS</option>
									<option value="53.dns.open_resolver.">53 DNS</option>
									<option value="80.http.get.">80 HTTP GET</option>
									<option value="80.http.open_proxy.">80 HTTP OPEN PROXY</option>
									<option value="143.imap.starttls.">143 IMAP</option>
									<option value="143.imap.starttls.tls.">143 IMAP TLS</option>
									<option value="443.https.tls.">443 HTTPS TLS</option>
									<option value="443.https.tls_1_1.">443 HTTPS TLS 1.1</option>
									<option value="443.https.tls_1_2.">443 HTTPS TLS 1.2</option>
									<option value="443.https.tls_1_3.">443 HTTPS TLS 1.3</option>
									<option value="443.https.heartbleed.">443 HTTPS HeartBleed</option>
									<option value="443.https.export_rsa.">443 HTTPS Export RSA</option>
									<option value="443.https.ecdhe.">443 HTTPS ECDHE</option>
									<option value="443.https.extended_random.">443 HTTPS Extended Random</option>
									<option value="443.https.dhe.">443 HTTPS DHE</option>
									<option value="443.https.export_dhe.">443 HTTPS Export DHE</option>
									<option value="110.pop3.starttls.">110 POP3</option>
									<option value="110.pop3.starttls.tls.">110 POP3 TLS</option>
									<option value="502.modbus.device_id.">502 MODBUS device id</option>
									<option value="993.imaps.tls.">993 IMAPS</option>
									<option value="993.imaps.tls.tls.">993 IMAPS TLS</option>
									<option value="995.pop3s.tls.">995 POP3</option>
									<option value="995.pop3s.tls.tls.">995 POP3 TLS</option>
								</select>
								</div>
							</div>
							<div class="field-wrap">
								<input type="hidden" name="page" value="1">
								<button type="submit" class="button button-Busqueda"/> Search </button> 
							</div>							      
						</div>
					</div>      
				</form>
				
				{% block tabla2 %}
					
				{% endblock %}
			</div>
		
		
		</div> <!-- Cierre de class -->
		<div class="tab-content">
		
					
			<div id="estadisticas">
				<h1>Statistics</h1>
						  			{% block tabla3 %}

									{% endblock %} 
			</div>
			

		
		</div> <!-- Cierre de class -->
		<div class="tab-content">
		
		
			
			<div id="perfil">
				<h1>Welcome, {{ usuario }}!</h1>
				<h3> </h3>
				<br/><br/><br/><br/><br/><br/><br/><br/>
				<form action="/logout">
					<div align="center"><button type="submit" class="button button-Pequeno"/>Log Out</button></div>
				</form>
				
			</div>
			


		</div> <!-- Cierre de class -->
	</div> <!-- Cierre de form -->

  <script src='http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>

    <script src="{% static 'js/index.js' %}"></script>

</body>
</html>

 
