<table class="tablaExploit">
	<tbody>
		<tr>
			<th colspan="2">source</th>
		</tr>
		<tr>
			<td class="tablaCategorias td-izq">ExploitDB</td>
			<td class="tablaCategorias td-derch">100</td>
		</tr>
	</tbody>
</table>

<table class="tablaExploit">
	<tbody>
		<tr>
			<th colspan="2">author</th>
		</tr>
		<tr>
			<td class="tablaCategorias td-izq">metasploit</td>
			<td class="tablaCategorias td-derch">12</td>
		</tr>
		<tr>
			<td class="tablaCategorias td-izq">kingcope</td>
			<td class="tablaCategorias td-derch">4</td>
		</tr>
		<tr><td class="tablaCategorias td-izq">darkeagle</td>
			<td class="tablaCategorias td-derch">3</td>
		</tr>
		<tr>
			<td class="tablaCategorias td-izq">redsand</td><td class="tablaCategorias td-derch">3</td></tr><tr><td class="tablaCategorias td-izq">Xpl017Elz</td><td class="tablaCategorias td-derch">2</td></tr></tbody></table><table class="tablaExploit"><tbody><tr><th colspan="2">platform</th></tr><tr><td class="tablaCategorias td-izq">windows</td><td class="tablaCategorias td-derch">71</td></tr><tr><td class="tablaCategorias td-izq">linux</td><td class="tablaCategorias td-derch">23</td></tr><tr><td class="tablaCategorias td-izq">multiple</td><td class="tablaCategorias td-derch">2</td></tr><tr><td class="tablaCategorias td-izq">osx</td><td class="tablaCategorias td-derch">2</td></tr><tr><td class="tablaCategorias td-izq">solaris</td><td class="tablaCategorias td-derch">1</td></tr><tr><td class="tablaCategorias td-izq">bsd</td><td class="tablaCategorias td-derch">1</td></tr></tbody></table>
