{% extends 'privado.html' %}
{% load static %}

<link rel="stylesheet" href="{% static 'css/style2.css' %}">

{% block numcensys %}
	<h4> {{ ResultadosCensys }}{{ PaginasCensys }}</h4>
{% endblock %}

{% block tabla2 %}

<h1 href="{% static 'css/style2.css' %}" table class="tablaCensys"></h1>
	<tbody>
		<tr>
			<td>{{ tablaResultados | safe }}</td>
		</tr>
		<tr>
			<td class="tablaAbajo"></td>
		</tr>
			<td class="tablaAbajo">{{ PaginaResultados | safe }}</td>
		</tr>
	</tbody>
</table>

{% endblock %}


{% block tabla3 %}

        {{img | safe}}

{% endblock %}
