{% extends 'privado.html' %}
{% load static %}

<link rel="stylesheet" href="{% static 'css/style2.css' %}">

{% block numcensys %}
	<h4> {{ ResultadosCensys }}{{ PaginasCensys }}</h4>
{% endblock %}

{% block tabla3 %}

<h1 href="{% static 'css/style2.css' %}" table class="dataframe tablaResultadosCensys"></h1>
	<tbody>
		<tr>
			<td>{{ img | safe }}</td>
		</tr>
	</tbody>
</table>

{% endblock %}


