{% extends 'privado.html' %}
{% load static %}

<link rel="stylesheet" href="{% static 'css/style2.css' %}">

{% block numexploit %}
	<h4> {{ NumResultados }} {{ PaginasShodan }}</h4>
{% endblock %}

{% block tabla1 %}

<table class="tablaExploit">
	<tbody>
		<tr>
			<td class="tablaCategorias tde-izq">{{ tablaRes | safe }}</td>
			<th></th>
			<td class="tablaCategorias tde-derch">{{ tablaCat | safe }}</td>
		</tr>
	</tbody>
</table>

<table class="tablaExploit">
	<tbody>
		<tr>
			<td class="tablaCategorias tde-izq">{{ PaginaResultados | safe }}</td>
			<th></th>
			<td class="tablaCategorias tde-derch"></td>
		</tr>
	</tbody>
</table>
{% endblock %}

